body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/049/108/547/small_2x/close-up-of-green-turf-field-with-blurred-background-photo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.payment-container {
  background: #ffffff7e;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
}

h1 {
  text-align: center;
  color: #2b6777;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

label {
  display: block;
  margin-bottom: 0.3rem;
  color: #555;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 0.7rem;
  background-color: #41ec32;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #246d29;
}

#message {
  margin-top: 1rem;
  text-align: center;
  color: green;
  font-weight: bold;
}
